@import '../base/_variables';

button {
    font-family: $fjalla; 
    text-transform: uppercase; 
    padding: 12px; 
    background: $main-blue; 
    border: 1px solid $main-blue; 
    color: white; 
    letter-spacing: 2px; 
    transition: all .3s ease; 
    cursor: pointer; 

    &:hover {
        border-radius: 30px; 
        /* border: 3px solid $main-blue;  */
        box-shadow: inset 0px 0px 0px 3px $main-blue;
        color: $main-blue; 
        background: white; 
        transition: all .3s ease;
    }

    &:focus {
        outline: none; 
    }
}