@import '../base/_variables';

.contact {
    background: $main-blue;
    color: white; 

    input {
        padding: 0.5em; 
        color: #333; 
    }

    &__main {
        display: flex; 
        flex-direction: row;
        padding: 3em; 
        padding-top: 1em; 

        @media screen and (max-width: 700px) {
            flex-wrap: wrap; 
            padding: 1em; 
        }

        .left-col {
            // padding-top: 5em; 
            width: 5%; 
            display: flex; 
            flex-direction: column; 

            @media screen and (max-width: 700px) {
                // display: none;  
                margin-left: 2em; 
            }

            img {
                height: 40px; 
            }

            .icon {
                height: 160px; 

                @media screen and (max-width: 750px) {
                    height: 100px; 
                }
            }
        }

        .mid-col {
            // padding-top: 5em; 
            width: 25%;
            // margin-right: 13.33%; 
            display: flex; 
            flex-direction: column; 
            // justify-content: space-between; 

            @media screen and (max-width: 700px) {
                // flex-direction: row;
                // justify-content: space-between;  
                // width: 100%; 
                // margin: 0 auto;
                margin-left: 4em;  
                width: 50%; 
            }

            @media screen and (max-width: 500px) {
                flex-wrap: wrap;  
            }

            &__group {
                display: flex; 
                flex-direction: row;
                // padding-bottom: 10em; 
                height: 160px; 

                @media screen and (max-width: 750px) {
                    height: 100px; 
                }

                img {
                    height: 40px; 
                }

                p {
                    font-family: $lato; 
                    font-weight: 300; 
                    line-height: 1.5em; 
                    padding-left: 5%; 
                    font-size: 1.2em; 

                    @media screen and (max-width: 1000px) {
                        padding-left: 10%; 
                    }

                    @media screen and (max-width: 750px) {
                        font-size: 1em; 
                        width: 130px; 
                    }

                    @media screen and (max-width: 700px) {
                        padding-left: 0; 
                    }
                }
            }
        }

        .right-col {
            width: 66.67%;

            @media screen and (max-width: 1000px) {
                padding-left: 3%; 
            }

            @media screen and (max-width: 700px) {
                width: 100%; 
            }
          
        #map_container {
            position: relative;
        }

        #map {
            height: 0;
            overflow: hidden;
            padding-bottom: 22.25%;
            padding-top: 30px;
            position: relative;
            color: black; 
            width: 96%; 
        }

        &__form {
            color: black;
            label {
                font-family: $oswald; 
                text-transform: uppercase; 
            }
            .input-row {
                width: 100%; 
                padding: 2em 0;  

                @media screen and (max-width: 750px) {
                    padding: 0; 
                }
                
                .form-input {
                    display: inline-block; 
                    padding: 0; 
                    width: 30%; 
                    margin-right: 3%;

                    @media screen and (max-width: 1000px) {
                        margin-right: 2%; 
                    }

                    @media screen and (max-width: 750px) {
                        width: 95%; 
                        padding-top: 1em; 
                    }
                }

                #subject-div {
                    margin-right: 0; 
                }

                input {
                    height:40px; 
                }
            }

            .textarea-row {
                width: 96%; 
                padding: 3em 0; 

                @media screen and (max-width: 750px) {
                    padding: 1em 0; 
                }

                textarea {
                    line-height: 1.3em; 
                }
            }

            .form-item {
                display: flex; 
                flex-direction: column; 

                label {
                    margin: 0; 
                    font-weight: 400; 
                    letter-spacing: 1px;
                }
            }

            .submit-row {
                
                .submit-box {
                    display: flex; 
                    flex-direction: row;  

                    @media screen and (max-width: 390px) {
                        flex-direction: column; 
                    }
                }
                    .form-item {
                        width: 200px; 
                        
                        input {
                            height: 42px; 
                        }
                    }

                    button {
                        background-color: black; 
                        margin-left: 10px; 

                        @media screen and (max-width: 390px) {
                            margin-left: 0;  
                        }
                    }
            }
        }

           
        }
    }

}