@import '../base/_variables';

.header {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0å);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 50px; 
    z-index: 10; 
    padding: 0 3em; 

    h4 {
    float: right;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    font-family: $oswald; 
    text-transform: uppercase; 
}
}