@import '../base/_variables';

.hero {
    height: 100vh;
    width: 100%; 
    background-image: url('../assets/images/working.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    .container {
        padding: 5em 3em 3em 3em; 

        @media screen and (max-height: 400px) {
            padding: 3em 3em 0 3em;   
        }
    }

    &__content {
        // padding-top: 7%; 
        margin: 0 auto; 

        &--story {
            width: 50%; 

            @media screen and (max-width: 1200px) {
                width: 60%;  
            }

            @media screen and (max-width: 1000px) {
                width: 70%;  
            }

            @media screen and (max-width: 640px) {
                width: 100%;  
            }
        }

        &--tagline {
            text-align: center; 
            margin: 0 auto; 
            width: 70%; 

            @media screen and (max-width: 600px) {
                width: 100%; 
            }
        }

        &--name {
            width: 50%;            
        }
    }

    h1 {
    font-family: $oswald; 
    font-weight: 600; 
    font-size: 4em;
    letter-spacing: 3px;
    line-height: 1.5em; 
    text-transform: uppercase; 
    color: black; 
    margin-top:0;
    margin-bottom: 5%;
    background-color: rgba(243, 237, 237, 0.6); 

    @media screen and (max-width: 1200px) {
        font-size: 3.5em; 
    }

    @media screen and (max-width: 1000px) {
        font-size: 3em; 
    }

    @media screen and (max-width: 767px) {
        font-size: 2.5em; 
    }

    @media screen and (max-width: 560px) {
        background: none; 
    }

    @media screen and (max-width: 420px) {
        font-size: 2em; 
    }

    @media screen and (max-height: 400px) {
        margin-bottom: 0;
        margin-top: 0.5em;  
        font-size: 2em; 
    }
}

    h3 {
        font-family: $lato; 
        color: black; 
        font-weight: 700; 
        margin: 5% 0 auto auto; 
        letter-spacing: 2px;
        text-align: center;  
        margin-bottom: 20px; 
        background-color: rgba(243, 237, 237, 0.65);

         @media screen and (max-width: 767px) {
            font-size: 1.3em; 
        }
    }

    #schedule {
        font-size: 1.5rem; 
        position: relative; 
        bottom: 17px; 

        @media screen and (max-width: 767px) {
            font-size: 1.3rem; 
        }

        @media screen and (max-width: 640px) {
            font-size: 1rem; 
        }

        @media screen and (max-width: 420px) {
            position: initial; 
            display: block;  
        }
    }
}

.help {
    background: $main-blue; 
    height: 200px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    /* padding-top: 2%;  */
    h1 {
        margin: 0 auto; 
        /* height: inherit;  */
        text-align: center; 
        color: white; 
        font-size: 4.5em;  
        font-family: $lato; 

        @media screen and (max-width: 500px) {
            font-size: 3em; 
        }

        @media screen and (max-width: 340px) {
            font-size: 2.5em; 
        }
    }

    h4 {
        margin: 0 auto; 
        text-align: center;  
        color: white; 
        font-family: $lato;
        font-weight: 300; 
        position: relative;
        bottom: 15px; 
    }
}