@import '../base/_variables';

.hero {
    height: 100vh;
    width: 100%; 
    background-image: url('/assets/images/womanchild.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    &__content {
        padding-top: 7%; 
        margin: 0 auto; 

        &--tagline {
            text-align: center; 
            margin: 0 auto; 
        }
    }

    h1 {
    font-family: $oswald; 
    font-weight: 600; 
    font-size: 4em;
    letter-spacing: 3px;
    line-height: 1.5em; 
    text-transform: uppercase; 
    color: black; 
    margin-top:0;
    margin-bottom: 5%;
    background-color: rgba(255, 255, 255, 0.4); 

    @media screen and (max-width: 767px) {
        font-size: 2em; 
        width: 100%; 
    }
}

    h3 {
        font-family: $lato; 
        color: white; 
        margin: 5% 0 auto auto; 
        letter-spacing: 2px;
        text-align: center;  
        margin-bottom: 20px; 
        background-color: rgba(0, 0, 0, 0.3);
        // width: 90%; 

         @media screen and (max-width: 767px) {
            font-size: 1.3em; 
        }
    }

    #schedule {
        font-size: 1.5rem; 
        position: relative; 
        bottom: 17px; 

        @media screen and (max-width: 767px) {
            position: initial; 
            display: block; 
        }
    }
    
}