@import '../base/_variables';

.hero {
    height: 100vh;
    background: url("/assets/images/sunset.png") top center no-repeat;
    background-size: cover;
    width: 100%; 

    &__content {
        padding-top: 10%; 
        margin: 0 auto; 

         &--stuff {
            float: none; 
            margin: 0 auto; 
            text-align:center;
        } 
    }

    h1 {
    font-family: $oswald; 
    font-weight: 600; 
    font-size: 4em;
    text-transform: uppercase; 
    color: white; 
    margin-top:0;
    margin-bottom: 5%; 

    @media screen and (max-width: 767px) {
        font-size: 2.5em; 
    }
}

    h3 {
        font-family: $lato; 
        color: white; 
        padding-top: 10%; 
        letter-spacing: 2px; 
    }

    button {
        font-size: 2.5rem; 

            @media screen and (max-width: 767px) {
            font-size: 1.5rem; 
        }
    }
    
}