@import '../base/_variables'; 

.overview {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    padding-top: 5em;  
    padding-bottom: 5em; 

    @media screen and (max-width: 630px) {
        flex-wrap: wrap; 
    }
    
    &__item {
        text-align: center; 

        @media screen and (max-width: 630px) {
            padding-bottom: 5em; 
        }

        &--header {
            font-family: $lato; 
            color: $main-brown; 

            h3 {
                font-size: 1.8em; 
                    @media screen and (max-width: 1000px) {
                        font-size: 1.5em; 
                    }
            }
        }

        &--p {
            font-size: 1.4em; 
            width: 85%; 
            margin: 0 auto; 

            @media screen and (max-width: 1000px) {
                font-size: 1.2em; 
            }

            @media screen and (max-width: 630px) {
                width: 70%; 
            }
        }
    }

}