@import '../base/_variables';


.site-wrapper {
    overflow-x: hidden; 
}

/*For fade in on scroll - hide the sections first*/
.hideme {
    opacity:0;
}

/*LINKS*/
a {
    color: inherit; 
    &:hover {
        text-decoration: none;
        transition: all .2s ease-in; 

        &:hover {
            color: $main-blue;
        }
    }

    cursor: pointer;
}

.section-header {
    font-family: $oswald; 
    text-transform: uppercase;
}

textarea:focus, input:focus{
    outline: none;
    font-family: $lato; 
}