body {
    /* margin-top: 70px; */
}

/*COLORS AND FONTS*/

$main-blue: #005277;
$main-brown: #995300; 

$fjalla: 'Fjalla One', sans-serif;
$oswald: 'Oswald', sans-serif;
$lato: 'Lato', sans-serif;

/*Breakpoints*/